# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/

# Node modules in functions folder
functions/node_modules/

# Firebase local files
.firebase/
firebase-debug.log

# OS files
.DS_Store
Thumbs.db